.DS_Store
**/tmux/plugins
**/zsh/plugins
**/nvim/lazy-lock.json
packer_compiled.lua
z/
zgenom/
node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
